::ng-deep .mat-autocomplete-panel {
    border-radius: 10px;
}

.col-md-12 {
    padding-left: 0px;
}

.form-control {
    margin-bottom: 10px;
}

.card form [class*=col-]:first-child {
    padding-left: 0px;
}

.input-group-append,
.input-group-prepend {
    display: -webkit-box;
}

.input-group {
    margin-left: -3.5%
}

.btn-outline-secondary {

    border-color: #ced4da;
}

.btn-outline-secondary:hover {
    background-color: rgb(255, 255, 255);
}

.mat-form-field-flex {

    margin-bottom: 12px;
}

.alert-danger {
    color: #f93548;
    background-color: #ffffff;

}

.red {
    color: red
}

.fileinput .thumbnail>img {
    max-height: 100%;
    width: 253px !important;
    height: 300px !important;
}

.heart {
font-size: 65px;
color: #e00;
animation: beat .30s infinite alternate;
transform-origin: center;
}


@keyframes beat{
to { transform: scale(1.4); }
}

.customProfileImage {
  background-color: #dc3545db;
  color: #fff;
}
