<main role="main" class="main-panel">
    <div class="content">
        <div class="row" style="width:100%"> 
              <div class="col-md-12 card" style="padding:10px;">
                <!-- <div class="customHead"> Payroll Data Validation Checks </div> -->
                <div class="col-md-12" style="padding:10px; border: 1px solid #ddd; margin: 50px 0;"> 
                <mat-tab-group > 
<mat-tab label="Missing PayGroup" style="background-color: #187da0 !important;">
  <table class="table table-striped">
      <thead style="background-color: #63c2de !important;">
          <tr>
              <th scope="col" style="color:#fff !important;"> Pay Group</th>
              <th scope="col" style="color:#fff !important;"> Start Date </th>
              <th scope="col" style="color:#fff !important;"> End Date</th>
              <th scope="col" style="color:#fff !important;"> Assignment Id </th>
              <th scope="col" style="color:#fff !important;"> ID </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr  *ngFor="let payroll of resultData['Missing PayGroup']">

              <td *ngFor="let pay of payroll; let idx=index">
                {{pay}}
              </td>                               
              <td>
                  <mat-icon class="cursorBlue" >list_all
                  </mat-icon>
              </td>
                               
          </tr>
      </tbody>
  </table>
</mat-tab>        
<mat-tab label="Missing Salary History">
<table class="table table-striped">
      <thead style="background-color: #63c2de !important;">
          <tr>
              <th scope="col" style="color:#fff !important;"> Salary Amount </th>
              <th scope="col" style="color:#fff !important;"> Salary Start Date </th>
              <th scope="col" style="color:#fff !important;"> Salary End Date</th>
              <th scope="col" style="color:#fff !important;"> Assignment Id </th>
              <th scope="col" style="color:#fff !important;"> ID </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr  *ngFor="let payroll of resultData['Missing Salary History']">

              <td *ngFor="let pay of payroll; let idx=index">
                {{pay}}
              </td>                               
              <td>
                  <mat-icon class="cursorBlue" >list_all
                  </mat-icon>
              </td>
                               
          </tr>
      </tbody>
  </table>
</mat-tab>           
</mat-tab-group>

                    
                </div>
              </div>
        </div>
    </div>

</main>
