.mat-card{
    padding: 30px;
}

.mat-raised-button.mat-warn {
    background-color: #36a52182;
    color:black;
}

@media (min-width: 768px) {
.col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 25px;
}
}

#customRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    column-gap: 12px;row-gap: 10px;
}

#customMatCard {
    padding-left:34px;
}

.mat-card-image:first-child {
    margin-top: -16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height:154px; width:140px; background-color: #7788992e;
}